<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackathons list</title>
</head>
<body>
<a data-th-href="@{/hackathons/create}">Create hackathon</a>
<h1>Hackathons list</h1>
<form method="get" data-th-action="@{/hackathons/list}">
    <label>Фильтр:<input type="text" name="filter">
        <button type="submit">Поиск</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Hackathon</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="hackathon : ${hackathons}">
        <td data-th-text="${hackathon.id}"></td>
        <td>
            <a data-th-href="@{/hackathons/{hackathonId}(hackathonId=${hackathon.id})}"
               data-th-text="${hackathon.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>